.pull-right {
  margin: 0 15px !important;
  * {
    vertical-align: top;
  }
  margin: 3px 0 !important;
}

.count-product {
  width: 15px;
  display: inline-block;
  text-align: center;
}

ul {
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: -1px;
}