<div class="review-shop-box" >
  <div class="title-review">
    <h4>REVIEW FOR THIS SHOP</h4>
    <p>We hope you can give us a true review to let us imporve our service</p>
  </div>
  <div class="d-flex justify-content-center ">
    <div class="col-md-6 form-review"> 
      <div>
        <h4>Name of shop</h4>
        <p>Give the points of each part</p>
      </div>
      <div class="review-box">
        <div class="row">
          <label class="col-md-6">Quality of product:</label>
          <star-review [type]=1 [rate]="" (result)="setRated(1,$event)"></star-review>
        </div>
        <div class="row">
          <label class="col-md-6">Warranty Policy:</label>
          <star-review [type]=1 [rate]="" (result)="setRated(2, $event)"></star-review>
        </div>
        <div class="row">
          <label class="col-md-6">Delivery:</label>
          <star-review [type]=1 [rate]="" (result)="setRated(3, $event)"></star-review>
        </div>
        <div class="row">
          <label class="col-md-6">Customer service:</label>
          <star-review [type]=1 [rate]="" (result)="setRated(4, $event)"></star-review>
        </div>
      </div>
      <label class="col-md-6">Give us your comment:</label>
      <textarea rows="5" class="form-control input-review" placeholder="Type your comment here" name="review" [(ngModel)]="review"></textarea>
      <button class="btn btn-success" (click)="submitForm()">Submit</button>
      <button class="btn btn-danger btn-close" (click)="closeMe()">X</button>
    </div>
  </div>
</div>