<div id="carouselExampleControls1" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="1" ></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="2" ></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="category-in-products">
        <div class="category-container">
          <list-page class="list-home"></list-page>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="category-in-products">
        <div class="category-container">
          <list-page class="list-home"></list-page>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev" style="color: black">
    <i class="now-ui-icons arrows-1_minimal-left"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next" style="color: black">
    <i class="now-ui-icons arrows-1_minimal-right"></i>
  </a>
</div>
