<div id="modal-in" class="modal-in">
  <div class="modal-dialog">
    <div class="modal-info content-center">
      <div class="card card-login card-plain">
        <div class="nav-account">
          <a id="nav-login" (click)="enableForm('signup','login')">Login</a>
          <a id="nav-signup" (click)="enableForm('login','signup')">SignUp</a>
        </div>
        <form id="login" #f="ngForm" class="form" novalidate (ngSubmit)="login()">
          <div class="header header-primary text-center">
            <div class="logo-container">
              <img src="assets/img/logofanatic.png" alt="" style="width: 50%">
            </div>
          </div>
          <div  class="content text-center">
            <h5> LOGIN </h5>
            <div class="social">
              <a class="circle twitter" href="/auth/github">
                <i class="fa fa-twitter fa-fw"></i>
              </a>
              <a id="google_login" class="circle google" href="/auth/google_oauth2">
                <i class="fa fa-google-plus fa-fw"></i>
              </a>
              <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                <i class="fa fa-facebook fa-fw"></i>
              </a>
            </div>
            <small [hidden]="name1.valid || (name1.pristine && !f.submitted)" class="text-danger">
              <i class="now-ui-icons ui-1_simple-remove"></i> Your email format is not right.
              </small>
            <div class="input-group form-group-no-border input-lg">
              <span class="input-group-addon">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
              <input name="name1" #name1="ngModel" [(ngModel)]="uid"  type="text" class="form-control input-custom" placeholder="Email..." pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,4}$" required>
            </div>
            <small [hidden]="password1.valid || (password1.pristine && !f.submitted)" class="text-danger">
                  Password is required!.
            </small>
            <div class="input-group form-group-no-border input-lg">
              <span class="input-group-addon">
                <i class="now-ui-icons ui-1_lock-circle-open"></i>
              </span>
              <input name="password1" #password1="ngModel" [(ngModel)]="pass"  type="password" placeholder="Password..." class="form-control input-custom" required>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Let's buy</button> 
          </div>
          <div class="text-center">
            <h6>
                <a (click)="enableForm('login','signup')" href="#" class="modal-font">You want to create Account?</a>
            </h6>
          </div>
          <div class="text-center">
            <h6>
                <a href="#pablo" class="modal-font">Forgot Password?</a>
            </h6>
          </div>
        </form>
        <form #formRegister="ngForm" novalidate id="signup" class="form"  (ngSubmit)="signup(formRegister.value)" >
          <div class="header header-primary text-center">
            <div class="logo-container">
              <img src="assets/img/logofanatic.png" alt="" style="width: 50%">
            </div>
          </div>
          <div class="content text-center">
            <h5> SignUp </h5>
            <small [hidden]="email.valid || (email.pristine && !formRegister.submitted)" class="text-danger">
              Your email format is not right!<br>
            </small>
            <small [hidden]="password.valid || (password.pristine && !formRegister.submitted)" class="text-danger">
              Password is required!<br>
            </small>
            <small [hidden]="nameCreate.valid || (nameCreate.pristine && !formRegister.submitted)" class="text-danger">
              Name is required (minimum 5 characters).<br>
            </small>
            <small [hidden]="phoneCreate.valid || (phoneCreate.pristine && !formRegister.submitted)" class="text-danger">
              Phone number ( minimum 10 numbers)!<br>
            </small>
             <small [hidden]="addressCreate.valid || (addressCreate.pristine && !formRegister.submitted)" class="text-danger">
              Address is required!<br>
            </small>
            <div class="input-group form-group-no-border input-lg input-half">
              <span class="input-group-addon">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
              <input name="email" #email="ngModel" [(ngModel)]="uidCreate"  type="text" class="form-control input-custom" placeholder="Email..." pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,4}$">
            </div>
            <div class="input-group form-group-no-border input-lg input-half">
              <span class="input-group-addon">
                <i class="now-ui-icons ui-1_lock-circle-open"></i>
              </span>
              <input name="password" #password="ngModel" [(ngModel)]="passCreate"  type="password" placeholder="Password..." class="form-control input-custom" required>
            </div>
            <div class="input-group form-group-no-border input-lg">
              <span class="input-group-addon">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
              <input name="nameCreate" #nameCreate="ngModel" [(ngModel)]="user.name"  type="text" class="form-control input-custom" placeholder="Your Full Name..." required minlength="5">
            </div>
            <div class="input-group form-group-no-border input-lg">
              GENDER:
              <div class="radio">
                <input type="radio" name="radio1" id="radio1" value=0 [(ngModel)]="user.gender" >
                <label for="radio1">
                  Men
                </label>
              </div>
              <div class="radio">
                <input type="radio" name="radio1" id="radio2" value=1 [(ngModel)]="user.gender"  checked="">
                <label for="radio2">
                  Women
                </label>
              </div>
              <div class="radio">
                <input type="radio" name="radio1" id="radio3" value=2 [(ngModel)]="user.gender"  checked="">
                <label for="radio3">
                  Other
                </label>
              </div>
            </div>
            <div class="input-group form-group-no-border input-lg">
              <span class="input-group-addon">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
              <input name="phoneCreate" #phoneCreate="ngModel" [(ngModel)]="user.phone"  type="text" class="form-control input-custom" placeholder="Phone"required minlength="10">
            </div>
            <div class="input-group form-group-no-border input-lg">
              <span class="input-group-addon">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
              <input name="addressCreate" #addressCreate="ngModel" [(ngModel)]="user.address"  type="text" class="form-control input-custom" placeholder="Address (number,street,district,city) ..." required>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary" type="submit" [disabled]="!formRegister.valid">CREATE ACCOUNT</button>
          </div>
          <div class="text-center">
            <h6>
              <a (click)="enableForm('signup','login')" href="#" class="modal-font">Have an account? Come to login form here!</a>
            </h6>
          </div>
        </form>
      </div>
    </div>
    <button class="btn-close" (click)="closeLoginForm()">X</button>
  </div>
</div>