<section class="section" id="pre-footer">
  <div class="container">
    <div class="plugin col-md-4 col-sm-4 col-xs-12">
      <i class="now-ui-icons iconfooter shopping_delivery-fast ">
        </i>
      <div class="plugin-info">
        <h5><b>FREE TWO-DAY SHIPPING</b></h5>
        <p class="plugin-meta">You get unlimited deliveries with no minimum order size, and with 20 million eligible items</p>
      </div>
    </div>
    <div class="plugin col-md-4 col-sm-4 col-xs-12">
      <i class="now-ui-icons iconfooter shopping_delivery-fast ">
        </i>
      <div class="plugin-info">
        <h5><b>FREE TWO-DAY SHIPPING</b></h5>
        <p class="plugin-meta">You get unlimited deliveries with no minimum order size, and with 20 million eligible items</p>
      </div>
    </div>
    <div class="plugin col-md-4 col-sm-4 col-xs-12">
      <i class="now-ui-icons iconfooter shopping_delivery-fast ">
        </i>
      <div class="plugin-info">
        <h5><b>FREE TWO-DAY SHIPPING</b></h5>
        <p class="plugin-meta">You get unlimited deliveries with no minimum order size, and with 20 million eligible items</p>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="upper-footer">
      <h5 class="font-footer"><b>WE’RE DEDICATED TO OUR CUSTOMERS 24/7</b></h5>
      <span>Customer Service Hotline</span>
      <span class="now-ui-icons arrows-1_minimal-right" style="color: green"></span>
      <span>01 222 000 966 </span>
      <span class="now-ui-icons arrows-1_minimal-right" style="color: green"></span>
      <span>Mochicorner@shop.com</span>
    </div>
    <hr class="small" style="background: grey;">
    <div class="middle-footer">
      <span class="font-footer subcribe"><b>GET A NEWSLETTER :</b></span>
      <div class="input-footer col-sm-5">
        <div class="input-group form-group-no-border">
          <input type="text" class="form-control" placeholder="Your Email">
          <span class="input-group-addon">
              <i class="fa fa-user-circle"></i>
            </span>
        </div>
      </div>
      <button class="btn btn-success btn-submit">Success</button>
    </div>
    <hr class="small" style="background: grey;">
    <p>@Copyright by Do Hong Quan</p>
  </div>
</footer>
