<div id="noti-danger" class="alert alert-danger notification" role="alert">
  <div class="container">
    <div class="alert-icon">
      <i class="now-ui-icons objects_support-17"></i>
    </div>
    <span id="noti-text-danger">text</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>
</div>
<div id="noti-warning" class="alert alert-warning notification" role="alert">
  <div class="container">
    <div class="alert-icon">
      <i class="now-ui-icons ui-1_bell-53"></i>
    </div>
     <span id="noti-text-warning">text</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>
</div>
<div id="noti-success" class="alert alert-success notification" role="alert">
  <div class="container">
    <div class="alert-icon">
      <i class="now-ui-icons ui-2_like"></i>
    </div>
     <span id="noti-text-success">text</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>
</div>